head
	meta(name="viewport" content="width=0, initial-scale=0.7, user-scalable=no")
	title Chat API koolitus
body
	h1 Front-end koolitus
	p
		a(href="/tulemus.html") Lõpptulemuse näide
	p
		a(href="/api.txt") API ühenduspunktid
